


<div class="container">

 <table class="table table-bordered">
  <thead>
    <tr>
      <th>Sr No</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead> 
   <tbody>
    <tr *ngFor="let std of stdsArr">
      <td>1</td>
      <td>{{std.fname}} {{std.lname}}</td>
      <td>{{std.email}}</td>
      <td>{{std.contact}}</td>
      <td class="text-center">
        <!-- <button class="btn btn-sm btn-outline-primary">Edit</button> -->
         <i class="fa-regular fa-pen-to-square fa-2x text-primary"role="button"></i>
      </td>
      <td class="text-center">
        <!-- <button class="btn btn-sm btn-outline-danger">Remove</button> -->
         <i class="fa-solid fa-trash-can fa-2x text-danger"role="button"></i>
      </td>
    </tr>
  </tbody>
 </table> 

<div class="row">
  <div 
  *ngFor="let post of postsArr"
  class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-header">
        <h2>{{post.title}}</h2>
      </div>
      <div class="card-body">
        <p>{{post.body}}</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-sm btn-outline-primary">Edit</button>
        <button class="btn btn-sm btn-outline-danger">Remove</button>
      </div>
    </div>
  </div>
</div>

<br>
  <div class="row">
    <div class="col-12">
      <h3>
        {{title}}
      </h3>

      <div class="form-group">
        <input 
        [value]="userName"
         type="text" class="form-control">
      </div>
      <br>
      <ul class="list-group">
        <li 
        *ngFor="let skill of skills"
        class="list-group-item">
          I Love {{skill}}
        </li>
      </ul>
    </div>
  </div>
</div>