
<h1>hello angular</h1>
<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>
        {{title}}
      </h3>

      <div class="form-group">
        <input 
        [value]="userName"
         type="text" class="form-control">
      </div>
      <br>
      <ul class="list-group">
        <li 
        *ngFor="let skill of skills"
        class="list-group-item">
          I Love {{skill}}
        </li>
      </ul>
    </div>
  </div>
</div>